@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan sedikit custom style untuk scrollbar agar lebih profesional */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}